@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); /* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrolling */
}


/* Home Page Styles */
#hero-section {
    position: relative;
    height: 100vh;
    background: url('../images/image1.jpg') center/cover no-repeat;
    animation: slideshow 15s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;

}

/* Index container that stores welcome message */
#welcome-container {
    width: 750px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5); /* Background color with some transparency */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    text-align: center;
    font-family: "Calibri Light";
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    font-family: "Calibri Light";
    font-weight: bold;
}

p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
    font-family: "Calibri Light";
}

/* Index.html Slideshow */
@keyframes slideshow {
    0%, 100% {
        background: url('../images/image1.jpg') center/cover no-repeat; /* Makes sure the transition is static */
    }
    50% {
        background: url('../images/image2.jpg') center/cover no-repeat;
    }
    75% {
        background: url('../images/image3.jpg') center/cover no-repeat;
    }
}

/* Adds vertical scroll to accordion */
.scrollable-accordion {
    max-height: 500px;
    overflow-y: auto;
}

/* Adds vertical scroll to entire page */
.scrollable-page {
    height: 100vh;
    overflow-y: auto; /*   Clipped, but a scroll-bar is added to see the rest of the content */
    /*min-height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

/* Accordion design */
.accordion-button, .accordion-button:focus, .accordion-button:active, .accordion-button:not(.collapsed):focus {
    background-color: dimgray !important;
    color: white !important;
    outline: black;
}

/* Modal design */
.modal-content{
    border: 2px solid black;
    border-radius: 10px;
}
.modal-body{
    font-family: "Calibri Light";
    font-size: 12px;
}

#centered-h1{
    font-size: 4em;
    font-family: "Calibri Light";
    text-align: center;
    padding: 20px;
}

.h1-center{
    font-size: 4em;
    font-family: "Calibri Light";
    text-align: center;
    margin: 20px;
}

.centered-p{
    font-size: 20px;
    font-family: "Calibri Light";
    text-align: left;
    margin-left: 20px;
}

#image-k{
    max-width: 900px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

#center-div{
    text-align: left;
    margin: auto;
    font-family: "Calibri Light";
}

.spacers{
    margin-left: 30px;
}

/* Search bar */

.searchbar{
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
    border: none;
    outline: none;
    background: none;
}

/* Portfolio*/
.container{
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
}

.post li{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.post li .thumbnail {
    position: relative;
    top: 200px; left: 200px; width: 100px; height: 100px;
    flex-shrink: 0;
}
.post li .thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post li .meta h2{
    font-size: 22px;
    margin-bottom: 10px;
}
.post li .meta p{
    font-size: 20px;
}
.post li .meta p a{
    margin-left: 5px;
}
.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 180px;
    height: 52px;
    text-transform: uppercase;
    background-color: black;
    color: dimgray;
    margin: 0 auto;
    border-radius: 30px;
    transition: all .3s ease-out;
}
.load-more:hover{
    background-color: dimgray;
    color: black;
}
.post li:nth-child(1) ~ li{
    display: none;
}
.load-more.loaded{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s 3s, opacity.3s 3s, height .3s 3s;
}

/* Gallery */

/* Import Google font - Poppins */
.search {
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.search::before, .search img, .lightbox {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.search::before {
    content: "";
    z-index: 1;
    background: rgba(0,0,0,0.25);
}
.search img {
    object-fit: cover;
}
.search .content {
    z-index: 2;
    color: #fff;
    padding: 0 13px;
    text-align: center;
    position: relative;
}
.search h1 {
    font-size: 2.65rem;
    font-weight: 600;
}
.search p {
    margin-top: 8px;
    font-size: 1.5rem;
}
.search .search-box {
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    cursor: default;
    color: #8D8D8D;
    font-size: 1.4rem;
    transform: translateY(-50%);
}
.search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 55px;
    background: #fff;
    border-radius: 5px;
}
.search-box input::placeholder {
    color: #929292;
}
.search-box input:focus::placeholder {
    color: #bfbfbf;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images {
    gap: 15px;
    max-width: 95%;
    margin-top: 40px;
    columns: 5 340px;
    list-style: none;
}
.gallery .images .card {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin-bottom: 14px;
    border-radius: 4px;
}
.gallery .images img {
    width: 100%;
    z-index: 2;
    position: relative;
}
.images .details {
    position: absolute;
    z-index: 4;
    width: 100%;
    bottom: -100px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
    transition: bottom 0.1s ease;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.images li:hover .details {
    bottom: 0;
}
.photographer {
    color: #fff;
    display: flex;
    align-items: center;
}
.photographer i {
    font-size: 1.4rem;
    margin-right: 10px;
}
.photographer span {
    font-size: 1.05rem;
}
button, i {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease;
}
.details button {
    background: #fff;
    font-size: 1.1rem;
    padding: 3px 8px;
}
.details .download-btn:hover {
    background: #f2f2f2;
}
.gallery .load-more {
    color: #fff;
    background-color: dimgray;
    margin: 50px 0;
    font-size: 1.2rem;
    padding: 12px 27px;
}
.gallery .load-more.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.gallery .load-more:hover {
    background-color: black;
}
.lightbox {
    z-index: 5;
    position: fixed;
    visibility: hidden;
    background: rgba(0,0,0,0.65);
}
.lightbox.show {
    visibility: visible;
}
.lightbox .wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 20px;
    max-width: 850px;
    background: #fff;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .photographer {
    color: #333;
}
header .photographer i {
    font-size: 1.7rem;
    cursor: auto;
}
header .photographer span {
    font-size: 1.2rem;
}
header .buttons i {
    height: 40px;
    width: 40px;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    background: #8A6CFF;
    border-radius: 4px;
    transition: 0.2s ease;
}
header .buttons i:first-child:hover {
    background: #704dff;
}
header .buttons i:last-child {
    margin-left: 10px;
    font-size: 1.25rem;
    background: #6C757D;
}
header .buttons i:last-child:hover {
    background: #5f666d;
}
.wrapper .preview-img {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.preview-img .img {
    max-height: 65vh;
}
.preview-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 688px) {
    .lightbox .wrapper {
        padding: 12px;
        max-width: calc(100% - 26px);
    }
    .wrapper .preview-img {
        margin-top: 15px;
    }
    header .buttons i:last-child {
        margin-left: 7px;
    }
    header .photographer span, .search p {
        font-size: 1.1rem;
    }
    .search h1 {
        font-size: 1.8rem;
    }
    .search .search-box {
        height: 50px;
        margin: 30px 0;
    }
    .gallery .images {
        max-width: 100%;
        padding: 0 13px;
        margin-top: 20px;
    }
    .images .details {
        bottom: 0px;
    }
    .gallery .load-more {
        padding: 10px 25px;
        font-size: 1.05rem;
    }
}
/* contact/login/register */
.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    width: 100%;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}



/*.accordion {*/
/*    flex: 1;*/
/*    overflow-y: auto;*/
/*}*/